# Create "db.properties" and replace the following example value by your database information
# Next, right click on folder "resources" -> Mark Directory As -> Resources Root
db.url=jdbc:mysql://${db_host}:3306/${db_name}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
db.user=${db_username}
db.pass=${db_password}
